@font-face {
    font-family: gotham_thin;
    src: url(../font/copyfonts.com_gotham_thin.ttf);
}
@font-face {
    font-family: gotham_bold;
    src: url(../font/copyfonts.com_gotham_bold.ttf);
}
@font-face {
    font-family: gotham_ultra;
    src: url(../font/copyfonts.com_gotham_ultra.ttf);
}
@font-face {
    font-family: gotham_light;
    src: url(../font/copyfonts.com_gotham_light.ttf);
}
@font-face {
    font-family: gotham_book;
    src: url(../font/Gotham-Book.otf);
}
@font-face {
    font-family: sathonmedium;
    src: url(../font/DB\ Sathorn\ Medium\ X.ttf);
}
@font-face {
    font-family: sathon;
    src: url(../font/DB\ Sathorn\ X.ttf);
}
body,html{
    font-family:gotham_light !important;
    height: 100%;
}
video{
    width:100%;
}
footer{
    border-top: 1px solid #eee;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 100ms linear;
    border-bottom: #eee 2px solid;
}
.control1{
width: auto;
z-index: 17;
}
.control6left{
    width: auto;
    z-index: 17;
    margin-left: -50px
}
.control6right{
    width: auto;
    z-index: 17;
    margin-right: -50px;
}
.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
  height: 55px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  /* border-radius: 50%; */
  background-color: #ccc;
  color: #000;
  font-size: 24px;
  padding: 17%;
}
.carousel-control-next-icon1.sectwo {
  height: 55px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  /* border-radius: 50%; */
  background-color: #fff;
  color: #000;
  font-size: 24px;
  padding: 17%;
}

.carousel-control-next-icon1:after
{
  font-size: 40px;
  color: #000;
}

.carousel-control-prev-icon1:after {
  font-size: 40px;
  color: #000;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.pd-0{
    padding: 0 0 0 0;
}
.pd-10new{
    padding: -1px 45px 10px 45px;
}
.pd-10{
    padding: 10px 45px 10px 45px;
}
.mgt-ng-20{
    margin-top: -20px;
}
.mg-0{
    margin: 0 0 0 0;
}
.mglr-10{
    margin: 0 10px 0 10px;
}
.pdlr-0{
    padding-right: 0px;
    padding-left: 0px;
}
.pdl-0{
    padding-left: 0px;
}
.pdr-0{
    padding-right: 0px;
}
.pdlr-10{
    padding: 0 10px 0 10px;
}
.pdlr-20{
    padding: 0 20px 0 20px;
}
.mgt-10{
    margin: 10px 0 0 0;
}
.mgt-20{
    margin: 20px 0 0 0;
}
.mgt-50{
    margin-top: 50px;
}
.mgb-50{
    margin-bottom: 50px;
}
.mgt-30{
    margin-top: 30px;
}
.mgt-80{
    margin-top: 80px;
}
.mgt-100{
    margin-top: 100px;
}
.mgb-20{
    margin-bottom: 20px;
}
.mgb-50{
    margin-bottom: 50px;
}
.mgr-10{
    margin-right: 10px;
}
.mglr-50{
    margin-right: 50px;
    margin-left: 50px;
}
.mglr-80{
    margin-right: 80px;
    margin-left: 80px;
}
.mgl-down15{
    margin-left: -15px;
}
.mgl-80{
    margin-left: 80px;
}
.carousel-indicators {
    right: 0;
    left: inherit;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators.sectwo {
    right: inherit;
    left: 0;
    margin-left: 16%;
    bottom: 31%;
    z-index:998;
}
.carousel-indicators.secsix {
    right: inherit;
    left: 0;
    margin-left: 22%;
    bottom: 1%
}
@media only screen and (max-width: 1024px) {
    .carousel-indicators.sectwo {
        right: inherit;
        left: 0;
        margin-left: 45%;
        bottom: 1%;
    }
    .carousel-indicators.secsix {
        right: inherit;
        left: 0;
        margin-left: 44%;
        bottom: 1%
    }
}
.carousel-indicators.sectwo li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #bbb;
}
.carousel-indicators.sectwo li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #ccc;
}
.carousel-indicators .active {
   border: 1px solid #000 !important;
}

.btnscrolldown{
    width: 8%;
    position: relative;
    top: 0;
    margin-top: -60px;
    left: 46%;
    z-index: 15;
}
@media screen and (max-width: 960px) {
    .btnscrolldown{
        width: 10%;
        position: relative;
        top: 0;
        margin-top: -38px;
        left: 46%;
        z-index: 1;
    }
}
.setheightbigsecthree{
    width: 100%;
    height: 546px;
}
.setheightothersecthree{
    width: 100%;
    height: 265px;
}
@media screen and (max-width: 960px) {
    .setheightbigsecthree{
        width: 100%;
        height: auto;
    }
    .setheightothersecthree{
        width: 100%;
        height: auto;
    }
  }
.setcaptionsecthree{
   color: #fff;
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   margin-bottom: 50px;
}
.setdivborderbottom{
    width:14% !important;
    border-bottom:2px solid #ccc;
}
.setheadborder{
    border-bottom:2px solid #bbb;
    padding-bottom:8px;
}
.settextsectwo1{
    font-family: gotham_bold !important;
    font-size: 14px;
    white-space: nowrap;
    letter-spacing: 1px;
}
.settextsectwo2{
    font-family: gotham_light !important;
    letter-spacing: 3px;
}
.settextsectwo3{
    font-family: gotham_bold !important;
    letter-spacing: 4px;
    font-size: 3.6em
}
.settextsectwo4{
    font-family: sathon !important;
    font-size: 18px;
    color: #9a9a9a;
}
.setsubpersmegtive{
    font-family: gotham_bold !important;
    color: #000;
    margin-top: -20px;
}
.setmarandpadzero{
    margin: 0;
    padding: 0;
}
.setviewmoresecthree{
    position:relative;
    background-color: #555555;;
    margin-top:-20px;
    padding:20px 0 20px 0;
}

/* Opacity #2 */
.setopa figure {
    background:linear-gradient(#818181, #000);
    overflow: hidden;
}
.setopa figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /*opacity: .6;*/
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.setopa figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/* .setopa figure:hover img {
	opacity: .5;
} */

.setimagesectwo{
   z-index: 16;
   padding: 100px 0 100px 100px;
 }
 @media screen and (max-width:960px){
    .setimagesectwo{
        z-index: 16;
        padding: 40px 30px 100px 30px;
      }
 }
 .setpadcaptionsectwo{
    padding-left: 70px
  }
 .setheadsection{
    font-family: gotham_bold !important;
    font-size: 22px;
    margin-bottom: 40px;
  }
  section.bgsecseven .setheadsection{
    font-family: gotham_bold  !important;
    letter-spacing: 2px;
    font-size: 1.3em;
    margin-bottom: 40px;
  }
  .setheadsectionsix{
    font-family: gotham_bold !important;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 40px;
  }
a.btn.setbtnreadmore{
   color:#000;
   text-decoration: none;
   cursor: pointer;
   border: #eee 1px solid;
   font-size:10px;
   border-radius: 0px;
   letter-spacing: 2px;
   padding: 9px 40px 9px 40px;
}
a.btn.setbtnreadmore:hover{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border: none; 
    border-radius: 0px;
    font-size:10px;
    letter-spacing: 2px;
    padding: 9px 40px 9px 40px;
 }

 a.btn span.setbtnreadmore{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    border: #eee 1px solid;
    border-radius: 0px;
    font-size:10px;
    letter-spacing: 2px;
    padding: 9px 40px 9px 40px;
 }
 a.btn span.setbtnreadmore:hover{
     color:#fff;
     text-decoration: none;
     cursor: pointer;
     background-color: #000;
     border-radius: 0px;
     border: none; 
     font-size:10px;
     letter-spacing: 2px;
     padding: 10px 40px 10px 40px;
  }
.setpointer{
   color:#000;
   text-decoration: none;
   cursor: pointer;
}
.setpointer:hover{
    color:#000;
    text-decoration: none;
    cursor: pointer;
 }
.sethighmenu{
    height: 70px ;
}
.sethalfauto{
    position: relative;
    margin: 33% 0 0 0;
}
.hamburgur{
    margin: 0 0 0 20px;
    font-size:30px;
    cursor:pointer;
}
.forcenowrap{
    white-space: nowrap;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
    font-family: gotham_book !important;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.wrapper {
    overflow: hidden;
}
.wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */ /* optional */
}

.imagesecthree {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
.middlesecthree {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.pdlr-10 figure {
    background:linear-gradient(#818181, #000);
}
  /* figure:hover .imagesecthree {
    opacity: 0.3;
  } */
  figure:hover .middlesecthree {
    opacity: 1;
  }
  .textsecthree {
    height: 200px;
    background-color: #bbb;
    color: white;
    opacity: 0.9;
    font-size: 16px;
    padding: 84px 78px;
    width: 232px;
  }

  .bgsecsix{
      background-image: linear-gradient(#555, #9a9a9a);
  }
  .bgwhite{
    background-color: #fff;
}
.bgsecseven { 
    background: url('../../image/bgsecseven.png'); 
    background-size: 100%; 
    min-height: 760px;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .setthintext{
    font-family: gotham_thin;
    font-size: 60px;
}
.setlogoheadersize{
    position: relative;
    margin: 20px 0 0 0;
}
.setlogofootersize{
    width: 60%;
    margin-top: 50% ;
}

.setlogofootersize{
    width: 60%;
    margin-top: 35% ;
}
.settextthaifootersubject{
    font-family: sathonmedium !important;
    font-size: 1.3em;
    color: #000;
    margin-bottom: 0px;
}
.settextthaifootergray{
    font-family: sathon !important;
    font-size: 0.9em;
    color: #9a9a9a;
}
.settelnumber{
    font-family: gotham_book !important;
    font-size: 14px;
    color: #000;
    white-space: nowrap;
    letter-spacing: 1px;
}

.setfootertelpic{
    width: 140px;
}
.setfooterproud{
    width: 235px;
}
@media screen and (max-width: 960px) {
    .setlogofootersize{
        width: 60%;
        margin-top: 10px ;
        margin-bottom: 20px;
    }
    .setcenter-responsive{
        text-align: center;
    }
}

.setcopyright{
    font-family: gotham_thin;
    font-size: 0.6em;
}

.setfooterheadstay{
    font-family: gotham_bold !important;
    letter-spacing: 2px;
    font-size: 1.1em;
    color: #000;    
    margin-top: 20px;
}



/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  }
  
  .field__input{ 
    background-color: transparent;
    border-radius: 0;
    border: none;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: 2em;
  }
  
  .a-field .field__input:focus{
    outline: none;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
  }
  
  .field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
  }
  
  /*
  =====
  LEVEL 2. CORE STYLES
  =====
  */
  
  .field{
    display: inline-block;
  }
  
  .field__input{ 
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  
  /*
  =====
  LEVEL 3. PRESENTATION STYLES
  =====
  */
  
  /* a-field */
  
  .a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);  
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
  
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
  
    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   
  
    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;  
  }
  
  .a-field .field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
    font-size: 28px;
  }
  
  .a-field .field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .a-field .field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .a-field .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
  }
  
  .a-field .field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field .field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field .field__label-wrap{
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);	
  
    pointer-events: none;
    cursor: text;
  
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .a-field .field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);
  
    line-height: 1;
    font-size: var(--uiFieldHintFontSize);
  
    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
  }
  
  .a-field .field__input:focus ~ .field__label-wrap .field__label{
    opacity: 1;
    bottom: var(--uiFieldHeight);
    display: none;
  }
  
  /* a-field_a1 */
  
  .a-field_a1 .field__input{
    transition: border-color .2s ease-out;
    will-change: border-color;
  }
  
  .a-field_a1 .field__input:focus{
    border-color: var(--fieldBorderColorActive);
  }
  
  /* a-field_a2 */
  
  .a-field_a2 .field__label-wrap:after{
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);
  
    position: absolute;
    bottom: 0;
    left: 0;  
  
    will-change: width;
    transition: width .285s ease-out;
  }
  
  .a-field_a2 .field__input:focus ~ .field__label-wrap:after{
    width: 100%;
  }
  
  /* a-field_a3 */
  
  .a-field_a3{
    padding-top: 1.5em;
  }
  
  .a-field_a3 .field__label-wrap:after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
  
    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
  
    position: absolute;
    bottom: 0;
    left: 0;
  
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
  }
  
  .a-field_a3 .field__input:focus ~ .field__label-wrap:after{
    height: 100%;
    opacity: 1;
  }
  
  .a-field_a3 .field__input:focus ~ .field__label-wrap .field__label{
    bottom: calc(var(--uiFieldHeight) + .5em);
  }
  
  /*
  =====
  LEVEL 4. SETTINGS
  =====
  */
  
  .field{
    --fieldBorderColor: #9a9a9a;
    --fieldBorderColorActive: #000;
    padding-top: 0px
  }

  .setsecsixcontainer{
      padding: 50px 150px 50px 150px
  }
@media screen and (max-width: 960px) {
    .setsecsixcontainer{
        padding: 20px 50px;
    }
}

.settextsecsix2{
    font-family: gotham_bold !important;
    letter-spacing: 1px;
    font-size: 36px;
}
.settextsecsix3{
   margin-top: 15px;
   font-size: 15px;
  font-family: gotham_book !important;
}

.setslideheightsecone{
    height: 500px;
}
.carousel-item{
    /*max-height: 560px;*/
}
@media screen and (max-width: 960px) {
    .setslideheightsecone{
        height: auto;
    }
    .setpadcaptionsectwo {
        padding-bottom: 20px;
        text-align: center;
    }
    .carousel-item {
        max-height: inherit;
    }
}

@media screen and (max-width:1024px){
    .setpadcaptionsectwo{
        padding-left: 0px
      }
}



/* Icon 1 */

#nav-icon1 {
    width: 20px;
    height: 45px;
    position: relative;
    margin: 30px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span#cen {
    width: 15px;
    height: 2px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 7px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 14px;
  }
  
  /* #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  } */
  
  


  /* =============NEWS & EVENT */
  .settopnewsevent{
    margin-top:70px;
    background-color:#f1f1f1;
    padding: 10px 0 10px 0;
  }
  .setbreadcrumb{
      font-family: gotham_thin;
      font-size: 11px;
      margin-top: 16px;
      float: right;
  }
  
  .setlastbreadcrumb{
    font-family: gotham_light !important;
}
.setbordercatenews{
    border: 1px solid #000;
}
.setnewstextsectwo{
    font-family: gotham_light;
    font-size: 14px;
}
.setnewstextdate{
    font-family: gotham_book;
    font-size: 12px;
    color: #000;
}
.setnewstextheadline{
    font-family: gotham_bold;
    font-size: 40px;
    color: #000;
}
.setnewstextheadline1{
    font-family: gotham_bold;
    font-size: 20px;
    color: #000;
}
.setnewstextheadline2{
    font-family: gotham_bold;
    font-size: 12px;
    color: #000;
}
.setbulletdate{
    font-size: 9px
}
.setnewstextcatemain{
    font-family: gotham_book;
    font-size: 12px;
    color: #ccc;
}
.setnewsbtnreadmore{
    font-family: gotham_book;
    font-size: 10px;
    letter-spacing: 2px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000 !important;
    padding: 10px 40px 10px 40px;
}
.setnewsbtnreadmore:hover{
    font-family: gotham_book;
    font-size: 10px;
    letter-spacing: 2px;
    background-color: #000;
    color: #fff !important;
    padding: 10px 40px 10px 40px;
}
.setnewsbordercolright{
    border: #ccc 1px solid;
    padding-bottom: 20px;
}
.setnewstextbreadcrumbleft{
    font-family: gotham_bold !important;
    color: #000;
    font-size: 30px;
}
.setmglr80res{
    margin-right: 80px;
    margin-left: 80px;
}
@media screen and (max-width:960px){
    .setmglr80res{
        margin-right: 10px;
        margin-left: 10px;
    }
    .setpdb20res{
       padding-bottom: 20px;
    }
}

.setwidthseven{
    width: 14.285714285714285714285714285714%;
}
@media screen and (max-width:960px){
    .setwidthseven{
        width: 25%;
    }
}
.setdatenewsdetail{
    font-size: 12px;
}



/* ================ Whatinstore */

#bgwhatinstore { 

    /* Full height */
    min-height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnscrolldown.whatinstorebg{
    margin-top: -50px;
}
.setwhatinstoretextmain{
    margin-top: 25%;
    font-family: gotham_bold !important;
    font-size: 30px;
}
.setstorytexttop{
    margin-top: 18%;
    font-family: gotham_book !important;
    font-size: 15px;
}
.setstorytexttop2{
    font-family: gotham_bold !important;
    font-size: 50px;
    letter-spacing: 10px
}
@media screen and (max-width: 960px) {
    .setwhatinstoretextmain{
        margin-top: 50%;
        font-family: gotham_bold !important;
        font-size: 30px;
    }
    .btnscrolldown.whatinstorebg{
        width: 10%;
        position: relative;
        top: 0;
        margin-top: -38px;
        left: 46%;
        z-index: 1;
    }
}
.setwhatinstoretextsec2main{
    font-family: gotham_book !important;
    font-size: 24px;
}

.setwhatinstorebordersec1{
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .setwhatinstorebordersec1:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    width: 50px;
    border-bottom: 2px solid #bbb;
  }

i.far.fa-window-minimize.setter {
    color: #bbb;
    font-size: 50px;
    padding: 30px;
}

/* Circle */
.hoverwhatinstore figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hoverwhatinstore figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hoverwhatinstore figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

.setpositionwhatinstorepic{
    position: absolute;
    top: 0;
    margin-left: 33px;
    margin-top: 35px;
}
.setinpicwhatinstoresec1{
    font-family: gotham_book !important;
    color: #fff;
    font-size: 28px;
}
.setinpicwhatinstoresec2{
    color: #fff;
    font-size: 13px;
}

/* ==================whatincategory */

.setpositionrb{
    position: absolute;
    top: 10px;
    left: 10px;
}
.setwhatincategorytextsmall{
    margin-top: 20%;
    font-family: gotham_book !important;
    font-size: 20px;
}
.setwhatincategorytextmain{
    font-family: gotham_bold !important;
    font-size: 2.9em;
    letter-spacing: 4px;
}
.setwhatincatedes{
    font-family: gotham_book !important;
    font-size: 14px;
}

.setnewstextcatemain.whatincate{
    font-size: 10px;
}

.setwhatinstoretextmain.whatincategory{
    margin-top: 50%;
}
.setwhatinstoretextmain.whatincategory.subproduct{
    margin-top: 20px;
    font-size: 10px;
}
.setborderactivewhatincategory:hover{
    border: #bbb 1px solid;
}
@media screen and (max-width:960px){
    .mglr-80.whatincategory{
        margin-left: 10px;
        margin-right: 10px;
    }
    .centerres{
        text-align: center;
    }
    .mgt-40res{
       margin-top: 40px;
    }
    .setwhatincategorytextsmall{
        margin-top: 50%;
    }
    .setwhatincategorytextmain{
        font-size: 1.9em;
    }
    .setwhatinstoretextmain.whatincategory{
        margin-top: 10%;
    }
}


@media screen and (max-width:1024px){
   .setpadinherit{
       padding: inherit;
   }
   .setpositionrb {
    width: 45px;
   }
}


/* ==================detail product */

.detailpro{
    font-family: gotham_thin !important;
    color: #000;
    font-size: 10px;
}
.setbreadcrumb.detailpro{
    margin-top:0px;
}
.setpadthumbdetail{
    padding: 20px
}
.setprodetailtextid{
    font-family: gotham_bold !important;
    font-size: 30px;
    margin-bottom: 0px;
}
.setprodetailtextcaption{
    font-family: gotham_book !important;
}
.setprodetailtextprice{
    font-family: gotham_book !important;
    font-size: 20px;
}
.setprodetailtextheadline{
    margin-top: 50px;
    font-family: gotham_book !important;
    font-size: 12px;
}
.setdownloadsubject{
    font-family: gotham_bold !important;
    font-size: 16px;
}
.setdownloadtextfile{
    font-size: 12px;
    margin-bottom: 0px;
}
.setborderdownload{
    border: 1px solid #eee;
    padding: 20px 10px 0px 20px;
    max-height: 250px;
}
.detaildessec2{
    width: 100%;
}
#descriptiondata{
    margin-top: 20px;
    font-family: sathon !important;
    font-size: 18px;
}



.newscontactfooter{
    margin-top: 20px;
    font-family: gotham_light !important;
    font-size: 14px;
}
.setbgfooternews{
    background-color: #676767;
}
.newsheadlinefooter{
    margin-top: 20px;
    font-family: sathonmedium !important;
    font-size: 26px;
}
.newsheadlinelastsec{
    margin-top: 20px;
    font-family: sathon !important;
    font-size: 22px;
}
.setbgfooterlastsec{
    background-color: #000;
}

a.btn.btndetailpro{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    font-family: sathon !important;
    border: #fff 1px solid;
    font-size:12px;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 5px 40px 5px 40px;
 }

 a.btn.btndetailpro:hover{
    color:#000;
    text-decoration: none;
    cursor: pointer;
    background-color:#fff;
    font-family: sathon !important;
    font-size:12px;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 5px 40px 5px 40px;
 }

 .setbacknewsdetail{
    font-family: gotham_light !important;
    font-size: 14px;
 }





 .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000;
    border-color: #000;
 }
 .page-link a {
    color: #000;
 }



 a.setnewshome{
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}

.setbtnviewmap{
    font-size: 12px;
    position:absolute;
    background-color: #000;
    color: #fff;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    padding:5px 70px 5px 70px;
}

.setbtnviewmap:hover{
    font-size: 12px;
    position:absolute;
    background-color: #fff;
    color: #000;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    padding:5px 70px 5px 70px;
}

.setshare{
    font-family: gotham_bold !important;
    font-size: 14px;
}
.setrelateper{
    font-family: sathon !important;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}
.setrelatepertwo{
    font-family: gotham_book !important;
    font-size: 12px;
    color: #9a9a9a;
    font-style: italic;
}

.setpointer.setinlineflex{
    display: inline-flex;
}

.hidden{
    display: none;
}

#valid{
    color: green;
}
#invalid{
    color: red;
}


.setwidthopen{
    width:550px;
}
.setwidthclose{
    width:0px;
}

@media screen and (max-width: 960px) {
.setwidthopen{
    width:350px;
}
.setwidthclose{
    width:0px;
}
}

a:hover span.setbordermenu{
    border-bottom:2px solid #bbb;
    padding-bottom:5px;
    font-family: gotham_book !important;
}
.form-inline .form-control {
    width: 100%;
}

.form-control.list{
    width: auto;
}

.boldtel{
  font-family: gotham_bold !important;
}

.btn:focus, .btn.focus{
  box-shadow: none;
}

.sethomenews{
  font-family: gotham_bold !important;
  margin-bottom: 0px;
}

.sethomenews.one{
  font-family: gotham_bold !important;
  margin-bottom: 0px;
  margin-top: -80px;
}

.setborderhomefooter{
  padding-right: 0px;
  border-right:1px solid #ccc;
}
.setstayhome{
    margin-left: -35px;
}
.textstay{
  color: #9a9a9a;
}
.file-upload-indicator,.file-preview .close{
  display: none;
}
.carousel-control-prev, .carousel-control-next {
opacity: 1;
}
.carousel-control-prev-icon1, .carousel-control-next-icon1{
  background-color: #fff;
}
.carousel-control-prev-icon1.sectwo{
  background-color: #ccc;
}

.st1{
  fill: #000;
}
.hamone{
  background-color: #fff !important;
}
.cen{
  background-color: #fff !important;
}
.hamthree{
  background-color: #fff !important;
}
